body {
  background-color: black;
  color: white;
  display: grid;
  justify-content: center;
  margin: 0 auto;
  font-family: 'Courier New', Courier, monospace;
}

.max {
  max-width: 1000px;
  margin: 20px;
  justify-content: center;
  background-color: transparent;
}

h1 {
  font-size: 50px;
  text-align: center;
  font-family: 'Cinzel Decorative';
  background-color: transparent;
}

h2 {
  font-size: 40px;
  text-align: center;
  font-style: italic;
  text-decoration: underline;
  background-color: transparent;
}

p {
  font-size: 30px;
  background-color: transparent;
}
